* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
:root {
  --text: #595c5d;
  --text-light: #9494a3;
  --orange: #ff9966;
  --blue: #1aa39b;
  --white: #ffffff;
  --black: #000000;
}
nav {
  display: flex;
  justify-content: space-between;
  padding: 1rem 1.5rem;
  align-items: center !important;
  height: 14vh;
  min-height: 10vh;
  background-color: var(--white);
  top: 0;
  left: 0;
  width: 100%;
  background-image: url("/img/Path\ 2250.png");
  background-repeat: no-repeat;
  background-position: 104% 0%;
  background-size: contain;
}

.logo img {
  width: 50%;
}

.nav-links {
  display: flex;
  justify-content: space-around;
  width: 40%;
}
.nav-links li {
  list-style: none;
  margin: 0 1rem;
}
.nav-links a {
  color: var(--text);
  text-decoration: none;
  font-weight: bold;
  font-size: 1.1rem;
}
.nav-links a:hover {
  color: var(--blue);
}
.burger {
  display: none;
  cursor: pointer;
}
.burger div {
  width: 25px;
  height: 3px;
  background-color: var(--blue);
  margin: 5px;
  transition: all 0.3s ease;
}
.nav-btn {
  display: flex;
  align-items: center;
}
.nav-btn .nav-btn-1,
.nav-btn .nav-btn-2 {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  font-weight: 600;
  border: none;
  padding: 0.5rem 1rem;
  width: 12rem;
  margin: 0 0.5rem 0 0;
  border-radius: 30px;
  font-size: 1rem;
}
.nav-btn .nav-btn-1 {
  background-color: var(--white);
  color: var(--orange) !important;
}
.nav-btn .nav-btn-2 {
  background-color: var(--orange);
  color: var(--white);
}
.nav-btn .nav-btn-2 a {
  text-decoration: none;
  color: var(--white);
}
.nav-whatsapp {
  display: none;
}
.nav-whatsapp a i {
  color: var(--white);
  background-color: var(--orange);
  padding: 0.8rem !important;
  border-radius: 30px;
  font-size: 1.4rem;
}
/* /////////////////////////// */

/* ///////////////////////////////////// */
nav ul ul {
  visibility: hidden;
  position: absolute;
  opacity: 0;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  z-index: 999;
}
nav ul li:hover > ul {
  visibility: visible;
  top: 70px;
  opacity: 1;
  transition: 0.3 linear;
  z-index: 999;
}
nav ul ul li {
  width: 150px;
  display: list-item;
  position: relative;
  border-bottom: 1px solid var(--text-light);
  padding: 0.5rem 0;
  z-index: 999;
}
nav ul li i {
  color: var(--text);
  padding-left: 0.2rem;
}
@media screen and (max-width: 1024px) {
  .nav-links {
    width: 60%;
  }
  .nav-btn {
    display: none;
  }
  .nav-whatsapp {
    display: block;
  }
}

@media screen and (max-width: 900px) {
  body {
    overflow-x: hidden;
  }
  nav {
    background-image: none;
  }
  .logo {
    margin-right: 5rem;
  }
  .logo img {
    width: 60%;
  }
  .nav-links {
    position: absolute;
    right: 0px;
    height: 50vh;
    top: 14vh;
    padding: 0rem 0;
    background-color: var(--white);
    /* background-color: yellowgreen; */
    margin-left: 0;
    margin-right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-right: 2rem;
    width: 100%;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    z-index: 999;
  }
  .nav-links li {
    opacity: 0;
    direction: rtl;
  }

  .burger {
    display: block;
  }
  nav ul li i {
    color: var(--orange);
    /* padding-left: 180px; */
  }
}

.nav-active {
  transform: translateX(0%);
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

.toggle .line1 {
  transform: rotate(-40deg) translate(-5px, 6px);
}

.toggle .line2 {
  transform: rotate(90deg) translate(0px, 0px);
}

.toggle .line3 {
  transform: rotate(35deg) translate(-5px, -6px);
}



/* /////////////////////////////////////////// */




