@font-face {
  font-family: arabic;
  src: url(../../fonts/regular.ttf);
}
@font-face {
  font-family: arabic-bold;
  src: url(../../fonts/bold.ttf);
}
:root {
  --text: #595c5d;
  --text-light: #9494a3;
  --orange: #ff9966;
  --blue: #1aa39b;
  --white: #ffffff;
  --black: #000000;
}
/* main sec 2 */

.main-sec-2 {
  width: 100% !important;
  padding: 2rem 1.5rem;
}
.card img {
  height: 12rem !important;
  object-fit: contain;
}
.card h6{
  color: var(--text);
  font-size: 1rem;
  font-family: arabic-bold;
}
#one {
  /* background-color: pink; */
  width: 100%;
  padding: 3rem;
}
