@font-face {
  font-family: arabic;
  src: url(../fonts/regular.ttf);
}
@font-face {
  font-family: arabic-bold;
  src: url(../fonts/bold.ttf);
}
* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
  /* font-family: arabic; */
}

:root {
  --text: #595c5d;
  --text-light: #9494a3;
  --orange: #ff9966;
  --blue: #1aa39b;
  --white: #ffffff;
  --black: #000000;
}

.bold {
  font-family: arabic-bold;
  font-size: 1.75rem;
}
.regular {
  font-family: arabic;
  font-size: 1.25rem;
}

html::-webkit-scrollbar {
  width: 1vw;
}
html::-webkit-scrollbar-thumb {
  background-color: var(--blue);
  border-radius: 30px;
}
html::-webkit-scrollbar-track {
  background-color: rgb(226, 226, 226);
}

/* ////////////////////////////////////////////NavBar/////////////////////////////////////////////// */

/* ////////////////////////////////////////////main-container (Index Page)///////////////////////// */
.main-container {
  position: relative;
  padding: 5rem 3rem 0rem 3rem;
  text-align: center;
  overflow: hidden;
}
.main-container-img-1 {
  position: absolute;
  margin: 0;
  top: 60px;
  width: 15%;
  left: -150px;
  height: 250px;
}
.main-container-img-2 {
  position: absolute;
  margin: 0;
  top: 60px;
  width: 15%;
  right: -150px;
  height: 250px;
}
.main-container h1 {
  text-align: center;
  padding: 0 20rem;
  font-size: 1.75rem;
  color: var(--text);
  word-spacing: 0.2rem;
  line-height: 3.5rem;
  font-family: arabic-bold;
  font-weight: bold !important;
}
.main-container div {
  display: flex;
  text-align: center;
  justify-content: center;
  padding-top: 2rem;
}
.main-btn-1,
.main-btn-2 {
  border: none;
  margin: 0 1rem;
  width: 12rem;
  color: white;
  font-size: 1rem;
  border-radius: 10px;
  padding: 0.6rem 1rem;
  filter: drop-shadow(0px 0px 12.5px rgba(0, 0, 0, 0.16));
}
.main-btn-2 i {
  padding-right: 0.5rem;
}
.main-btn-1 {
  background-color: var(--blue);
}
.main-btn-2 {
  background-color: var(--orange);
}
.main-btn-2:hover {
  background-color: var(--blue);
}
.main-btn-1:hover {
  background-color: var(--orange);
}
.main-img img {
  width: 100%;
}
.container_owl_page_3 {
  margin-top: -50px;
  z-index: 5;
}
.container_owl_page_3 .item {
  position: relative;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  flex-direction: column;
}
.container_owl_page_3 .item button {
  background-color: var(--orange);
  font-family: arabic-bold;
  padding: 0.5rem 3rem;
  color: var(--white);
  border-radius: 5px;
  font-size: 1rem;
  border: none;
  margin: 1rem 0;
  text-align: center;
}
.container_owl_page_3 .item {
  padding: 0 5rem;
}
.container_owl_page_3 .item p {
  color: var(--text-light);
  text-align: center;
  font-family: arabic;
  line-height: 35px;
  font-size: 1.25rem;
}
/* ///////////////////////////owl_page_3/////////////////////////////? */
.owl_page_3 {
  text-align: center;
  font-size: 1rem !important;
  font-family: arabic-bold;
  color: var(--orange);
  padding-bottom: 1rem !important;
}
/* ////////////////////////////////////////////////////////? */
/* ////////////////////header-slider/////////////////////// */

.slider-pagination {
  padding-top: 2rem !important;
  margin-top: 2rem !important;
}
.blog {
  padding: 3rem;
  background: #ff9966;
  overflow: hidden;
}
.blog-data {
  padding: 3rem;
  width: 70%;
  margin-right: 15%;
  border-radius: 10px;
  text-align: center;
  background: #ffffff;
}
.blog-data h3 {
  font-size: 1.75rem;
  padding-bottom: 1rem;
  color: var(--text-light);
  font-family: arabic-bold;
}
.blog-data p {
  font-size: 1.25rem;
  line-height: 2.5rem;
  padding-bottom: 1rem;
  color: var(--text-light);
  font-family: arabic;
}
.blog-btns {
  display: flex;
  padding-top: 2rem;
  justify-content: center;
}
.blog-btn-1 {
  width: 200px;
  height: 50px;
  border-radius: 10px;
  filter: drop-shadow(0px 0px 12.5px rgba(0, 0, 0, 0.16));
  background: #ff8548;
  color: var(--white);
  border: none;
  margin-left: 1rem;
  font-size: 1rem;
}
.blog-btn-2 {
  width: 200px;
  height: 50px;
  font-size: 1rem;
  border-radius: 10px;
  filter: drop-shadow(0px 0px 12.5px rgba(0, 0, 0, 0.16));
  background: var(--blue);
  color: white;
  border: none;
}
.blog-btn-2 i {
  padding-right: 0.5rem;
}
/* ///////////////////////////////////////// */
.clients {
  width: 100%;
  padding: 3rem 1.5rem;
  overflow: hidden;
}
.clients h1 {
  text-align: center;
  padding-top: 2rem;
  font-size: 1.75rem;
  color: var(--orange);
}
.client-cards {
  display: flex;
  justify-content: space-evenly;
  padding-top: 3rem;
  align-items: center;
}

.client-1,
.client-2,
.client-3,
.client-4,
.client-5,
.client-6 {
  padding: 0.5rem;
  border-radius: 5px;
  margin: 0 0.5rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.client-1 img,
.client-2 img,
.client-3 img,
.client-4 img,
.client-5 img,
.client-6 img {
  width: 100%;
}

/* ///////////////////////accordion/////////////////// */

.accordion-container {
  overflow: hidden;
  position: relative;
  width: 100%;
  padding: 3rem 1.5rem;
  text-align: center;
}
.accordion-container img {
  position: absolute;
  margin: 0;
  top: 0;
  width: 15%;
  left: -120px;
}
.accordion-div {
  padding-top: 2rem;
}
.accordion-container h1 {
  font-size: 1.5rem;
  color: var(--blue);
  font-family: arabic-bold;
}
.accordion-container p {
  color: var(--text-light);
  padding-top: 0.75rem;
  font-size: 1.25rem;
  font-family: arabic;
}
.accordion input {
  position: absolute;
  opacity: 0;
  z-index: -1;
}
.accordion-wrapper {
  border-radius: 5px;
  overflow: hidden;
  width: 80%;
  margin: 0 auto;
}
.accordion {
  width: 100%;
  color: white;
  overflow: hidden;
  margin-bottom: 20px;
  border: 1px solid rgb(221, 221, 221);
}
.accordion:last-child {
  margin-bottom: 0;
}
.accordion-label {
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  padding: 1rem 2rem;
  color: var(--text-light);
  font-family: arabic-bold;
  font-weight: bold;
  cursor: pointer;
  font-size: 18px;
  align-items: center;
  text-align: right;
}
.accordion-label:hover {
  background: var(--orange);
  color: var(--white);
}
.accordion-label::after {
  content: "\2B9F";
  width: 15px;
  height: 16px;
  background-color: var(--text-light);
  color: white;
  padding: 1rem;
  border-radius: 1rem;
  justify-content: center !important;
  text-align: center !important;
  align-items: center !important;
  display: flex !important;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.accordion-content {
  max-height: 0;
  padding: 0 16px;
  color: var(--text);
  background: white;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.accordion-content p {
  margin: 0;
  /* font-size: 1rem; */
  color: var(--text-light);
  font-family: arabic;
  font-size: 1rem;
  text-align: right;
}
input:checked + .accordion-label {
  background: var(--blue);
  color: var(--white);
}
input:checked + .accordion-label::after {
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg);
}
input:checked ~ .accordion-content {
  max-height: 100vh;
  padding: 16px;
}

.program {
  position: relative;
  width: 100%;
  padding: 2rem 1.5rem;
  overflow: hidden;
}
.progam-ecp-1 {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  width: 15%;
  left: -135px;
}
.progam-ecp-2 {
  position: absolute;
  top: 500px;
  left: 0;
  margin: 0;
  width: 15%;
  right: -135px;
}
.program h1 {
  text-align: center;
  /* padding-top: 2rem; */
  font-size: 1.5rem;
  color: var(--blue);
  font-family: arabic-bold;
}
.program-cards {
  display: flex;
  text-align: center;
  justify-content: center;
  padding-top: 1rem;
  flex-wrap: wrap;
}
.p-card-1 {
  /* background-color: white; */
  border-radius: 5px;
  width: 30%;
  padding: 1rem;
  margin: 1rem;
}
.p-card-1:hover {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.p-card-1 h3 {
  font-size: 1.25rem;
  padding: 1rem 0;
  color: var(--text-light);
  font-family: arabic-bold;
}
.p-card-1 p {
  font-size: 1rem;
  line-height: 30px;
  color: var(--text-light);
  font-family: arabic;
}
.p-card img {
  width: 30%;
}
.p_card img {
  width: 40%;
}
/* ///////////////////Footer-start////////////////////// */
.footer {
  overflow: hidden;
  background-color: white;
  display: flex;
  justify-content: space-between;
  padding: 2rem 3rem;
  align-items: center;
}
.footer ul li {
  list-style: none;
  text-align: right;
}
.footer-ul-1 li h3 {
  color: black;
  font-size: 2rem;
}
.footer-ul-2 li h3 {
  color: black;
  font-size: 2rem;
}
.footer-ul-1 li,
.footer-ul-2 li {
  padding-bottom: 0.5rem;
  font-size: 20px;
  font-weight: 400;
  color: var(--text);
}
.footer-ul-3 img {
  height: 80px;
  margin-left: 33rem;
  padding-bottom: 1rem;
}
.footer-ul-3 p {
  width: 667px;
  font-size: 25px;
  font-weight: 400;
  line-height: 35px;
  font-style: normal;
  text-align: right;
  color: #595c5d;
}
/* ///////////////////Footer-end////////////////////// */
:root {
  --text: #595c5d;
  --orange: #ff9966;
  --blue: #1aa39b;
}
.main-wrapper {
  position: relative;
  overflow: hidden !important;
}
.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4rem 3rem;
}
.main-wrapper-img-1 {
  position: absolute;
  margin: 0;
  top: 75px;
  width: 15%;
  left: -125px;
}
.main-wrapper-img-2 {
  position: absolute;
  margin: 0;
  top: 75px;
  width: 15%;
  right: -125px;
}
.wrapper img {
  width: 30%;
}
.wrapper-content {
  width: 50%;
}
.wrapper-content h2 {
  color: var(--orange);
  font-size: 1.75rem;
  padding-bottom: 1rem;
  font-family: arabic-bold;
}
.wrapper-content p {
  color: var(--text-light);
  font-size: 1.25rem;
  line-height: 35px;
  font-family: arabic;
}
.applications {
  position: relative;
  padding: 1rem 0;
  overflow: hidden;
}
.applications h2 {
  text-align: center;
  font-size: 1.5rem;
  color: var(--blue);
  font-family: arabic-bold;
}
.application-cards {
  display: flex;
  justify-content: center;
  padding: 3rem 2rem 0 2rem;
}
.application-card-1,
.application-card-2,
.application-card-3 {
  margin: 0 0.5rem;
  text-align: center;
  padding: 2rem;
  border-radius: 10px;
}
.application-card-1:hover,
.application-card-2:hover,
.application-card-3:hover {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.application-card-1 img,
.application-card-2 img,
.application-card-3 img {
  width: 20%;
  height: 30%;
}
.application-card-1 h3,
.application-card-2 h3,
.application-card-3 h3 {
  font-family: arabic-bold;
  padding: 2rem 0 1rem 0;
  color: var(--text-light);
  font-size: 1.25rem;
}
.application-card-1 p,
.application-card-2 p,
.application-card-3 p {
  font-family: arabic;
  color: var(--text-light);
  font-size: 1rem;
  line-height: 25px;
}
.memory {
  padding: 0 3rem;
  overflow: hidden;
}
.memory h2 {
  text-align: center;
  font-size: 1.75rem;
  color: var(--orange);
  padding-bottom: 2rem;
  font-family: arabic-bold;
}
.main-memory {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.main-memory img {
  width: 30%;
}
.main-memory ul h2 {
  font-size: 1.5rem;
  padding-bottom: 1.5rem;
  margin-right: -4rem;
  color: var(--text);
  font-family: arabic-bold;
}
.main-memory ul li {
  font-family: arabic;
  padding-bottom: 1rem;
  font-size: 1.25rem;
  line-height: 2rem;
  color: var(--text-light);
}
.safety-cards {
  position: relative;
  padding: 3rem 1.5rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  overflow: hidden;
}
.safe-card-1 {
  display: flex;
  margin: 1rem;
  width: 45%;
  border-radius: 10px;
  padding: 2rem 2rem 0 2rem;
}
.safe-card-1:hover {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.safe-card-1 img {
  height: 22%;
  width: 15%;
  margin-left: 1rem;
}
.safe-card-1 div h1 {
  font-size: 1.5rem;
  color: var(--text);
  padding-bottom: 0.5rem;
  font-family: arabic-bold;
}
.safe-card-1 div P {
  line-height: 30px;
  color: var(--text-light);
  font-size: 1.25rem;
  font-family: arabic;
}
.order-now {
  position: relative;
  background-image: url("../img/Path\ 2906.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 95% 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.order-now img {
  width: 35%;
  transform: rotateY(160deg);
  transform-style: preserve-3d;
}
.order-now div {
  text-align: center;
  width: 50%;
}
.order-now div button {
  background-color: white;
  border: none;
  padding: 0.75rem 3rem;
  margin-top: 2rem;
  border-radius: 5px;
  font-size: 1.25rem;
  font-family: arabic;
}
.order-now div button:hover {
  background-color: var(--blue);
  color: var(--white);
}
.order-now div p {
  font-family: arabic;
  font-size: 1.25rem;
  line-height: 30px;
  text-align: center;
  padding: 0 2rem;
  color: white;
}
.order-now div button {
  text-align: center;
  color: var(--orange);
}
.business {
  padding: 1rem 1.5rem;
  overflow: hidden;
}
.business h2 {
  text-align: center;
  font-size: 1.5rem;
  color: var(--blue);
  font-family: arabic-bold;
}
.business-cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 3rem 0;
}
.business_card {
  margin: 0.5rem;
  background-color: white;
  border-radius: 5px;
  width: 20%;
  height: 18rem;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}
.business_card img {
  width: 100%;
  height: 65%;
}
.business_card div {
  text-align: center;
  padding: 0.25rem;
}
.business_card div h2 {
  font-family: arabic-bold;
  color: var(--text);
  font-size: 1rem;
  font-weight: bold;
  font-weight: 600;
}
.business_card div p {
  font-family: arabic;
  color: var(--text);
  font-weight: bold;
  padding: 0.5rem 0;
  font-size: 1rem;
  font-weight: 400;
}
.business_card div i {
  color: var(--text);
  /* font-weight: bold; */
}
.business_card div i:hover {
  color: var(--orange);
  cursor: pointer;
}

.techniques {
  position: relative;
  overflow: hidden;
}
.techniques h2 {
  text-align: center;
  font-size: 1.5rem;
  color: var(--blue);
  font-family: arabic-bold;
}
.techniques-cards {
  display: flex;
  justify-content: center;
  padding: 2rem;
}
.color-orange {
  color: var(--orange) !important;
}
.techniques-card-1,
.techniques-card-2,
.techniques-card-3 {
  margin: 0 0.5rem;
  text-align: center;
  padding: 2rem;
  border-radius: 10px;
}
.techniques-card-1 img,
.techniques-card-2 img,
.techniques-card-3 img {
  height: 15%;
}
.techniques-card-1 h3,
.techniques-card-2 h3,
.techniques-card-3 h3 {
  padding: 1rem 0;
  font-size: 1.25rem;
  color: var(--text);
  font-family: arabic-bold;
}
.techniques-card-1 p,
.techniques-card-2 p,
.techniques-card-3 p {
  font-family: arabic !important;
  font-size: 1.15rem;
  line-height: 30px;
  color: var(--text-light);
}
.techniques-card-1:hover,
.techniques-card-2:hover,
.techniques-card-3:hover {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.wrapper-clients {
  position: relative;
  display: flex;
  justify-content: center;
  padding: 1rem 3rem;
  overflow: hidden;
}
.wrapper_client_1 {
  border-radius: 5px;
  margin: 0 0.5rem;
  padding: 2rem;
  width: 100%;
  height: 9rem;
  background-color: white;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.wrapper_client_bg_1 {
  background-image: url("../img/DHL.png");
  background-size: 70% 60%;
}
.wrapper_client_bg_2 {
  background-image: url("../img/SMSA.png");
  background-size: 70% 60%;
}
.wrapper_client_bg_3 {
  background-image: url("../img/زاجل.png");
  background-size: 40% 60%;
}
.wrapper_client_bg_4 {
  background-image: url("../img/ناقل.png");
  background-size: 70% 60%;
}
.main-offers {
  position: relative;
  padding: 10rem 3rem;
  overflow: hidden;
}
.main_offer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.main_offer h1 {
  font-size: 1.5rem;
  color: var(--orange);
  font-family: arabic-bold;
}
.main_offer p {
  padding: 2rem 0;
  font-size: 1.25rem;
  color: var(--text);
  font-family: arabic;
}
.main_offer button {
  background-color: var(--blue);
  padding: 0.8rem 3rem;
  border-radius: 5px;
  border: none;
  color: white;
  font-size: 1.3rem;
  font-family: arabic;
}
.main_offer button:hover {
  background-color: var(--orange);
  cursor: pointer;
}
/* /////////////////////////////////////////////////////////////////////////////////////////// */
/* /////////////////////////////////////////////////////////////////////////////////////////// */
/* //////////////////////////////////////////Page 3/////////////////////////////////////////// */
/* /////////////////////////////////////////////////////////////////////////////////////////// */
/* /////////////////////////////////////////////////////////////////////////////////////////// */

.header-wrapper {
  position: relative;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 1.5rem;
  overflow: hidden;
  background-color: var(--white);
}
.header_wrapper_slider {
  display: flex;
  flex-direction: column;
  flex-basis: 50px;
  z-index: 99;
}
.header_wrapper_slider i {
  font-size: 14px;
  font-weight: 500;
  color: var(--text);
  margin: 0.4rem 0;
  cursor: pointer;
  text-align: center;
}
.header_wrapper_slider i:hover {
  color: var(--orange);
  font-weight: 600;
}

.header-wrapper .eclip-left {
  position: absolute;
  width: 15%;
  left: -100px;
  top: 100px;
}
.header-wrapper .eclip-right {
  position: absolute;
  width: 15%;
  right: -100px;
  bottom: 0px;
}
.header-wrapper img {
  width: 40%;
  margin-left: 2rem;
}
.header-wrapper div {
  width: 40%;
}
.header-wrapper div h2 {
  background-color: var(--blue);
  color: white;
  display: inline;
  padding: 0.3rem 2rem;
  font-size: 1.5rem;
  font-family: arabic-bold;
}
.header-wrapper h1 {
  color: var(--orange);
  line-height: 3rem;
  margin: 1rem 0;
  font-size: 1.75rem;
  font-family: arabic-bold;
}
.header-wrapper div p {
  line-height: 49px;
  color: var(--blue);
  font-size: 1.25rem;
  font-family: arabic;
  font-weight: 400;
}
.header-wrapper div button {
  border: 2px solid var(--orange);
  background-color: white;
  color: var(--orange);
  padding: 0.3rem 1.5rem;
  text-decoration: none;
  font-size: 1.5rem;
  cursor: pointer;
  font-family: arabic;
}
.header-wrapper button:hover {
  background-color: var(--orange);
  color: var(--white);
}
/* ///////////////////////////////////////////////// */

.help {
  position: relative;
  padding: 3rem 2.2rem;
  overflow: hidden;
}

.help h1 {
  color: var(--blue);
  font-size: 1.75rem;
  padding-right: 4.5rem;
}
.help h2 {
  color: var(--orange);
  padding-right: 4.5rem;
  font-size: 1.5rem;
  font-weight: 500;
  padding-top: 0.5rem;
}
.help-cards {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: space-between;
  background-color: white;
  margin-top: 1rem;
}
.help_card {
  box-shadow: rgba(100, 100, 111, 0.5) 0px 7px 29px 0px;
  padding: 1rem;
  border-radius: 10px;
  width: 15%;
  margin: 0 0.5rem;
}
.help_card img {
  width: 100%;
}
.help_card h2 {
  color: var(--text);
  font-size: 1.1rem;
  padding-top: 0.5rem;
}
/* ///////////////////////////////////////////////////////////// */

.product {
  padding: 2rem 3rem;
  overflow: hidden;
}

.product h1 {
  color: var(--blue);
  font-size: 1.75rem;
  font-family: arabic-bold;
}
.product h2 {
  color: var(--orange);
  font-size: 1.5rem;
  padding-top: 0.25rem;
  font-weight: 400;
  font-family: arabic;
}
.product_cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.product_card img {
  width: 100%;
  height: 60%;
  object-fit: contain;
}

.product_card h2 {
  font-size: 1rem;
  color: var(--text);
  padding-top: 2rem;
  margin-top: 1rem;
  font-family: arabic-bold;
  text-align: center;
}
.product_card {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  padding: 1rem;
  border-radius: 10px;
  width: 22%;
  margin: 1rem;
  height: 250px;
}

/* ////////////////////////////////////////////////// */
.setting-wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 2rem 1.5rem;
  background-image: url("../img/Ellipse\ 31.png");
  background-repeat: no-repeat;
  background-size: 175% 125%;
  background-position: 35% 45%;
  overflow: hidden;
}
.setting-mobile {
  display: none;
}
.setting-content {
  width: 40%;
}
.setting-content h1 {
  color: var(--blue);
  font-size: 1.75rem;
  font-family: arabic-bold;
}
.setting-content h2 {
  color: var(--orange);
  font-size: 1.5rem;
  padding: 0.75rem 0;
  font-family: arabic;
}
.setting-content h3 {
  font-size: 1.25rem;
  color: var(--text);
  font-family: arabic-bold;
}
.setting-content p {
  padding: 0.75rem 0;
  font-size: 1.25rem;
  line-height: 2.5rem;
  color: var(--text-light);
  font-family: arabic;
  font-weight: 400;
}
.setting-content button {
  border: none;
  background-color: #f8f8ff;
  font-size: 1.25rem;
  color: var(--orange);
  border-bottom: 1px solid var(--orange);
  cursor: pointer;
}
.setting-image img {
  width: 28rem;
}
/* /////////////////////////////////////////////// */
.development-wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 3rem 1.5rem;
  overflow: hidden;
}
.development-content {
  width: 40%;
}
.development-content h1 {
  color: var(--blue);
  font-size: 1.75rem;
  font-family: arabic-bold;
}
.development-content p {
  padding: 1rem 0;
  font-size: 1.25rem;
  line-height: 35px;
  font-weight: 400;
  color: var(--text);
  font-family: arabic;
}
.development-content button {
  border: none;
  background-color: white;
  font-size: 1.4rem;
  color: var(--orange);
  border-bottom: 1px solid var(--orange);
  cursor: pointer;
}
.development-image img {
  width: 28rem;
}
/* //////////////////////////////////////////////// */
.selection-wrapper {
  position: relative;
  padding: 3rem;
  overflow: hidden;
}
.selection-wrapper h1 {
  text-align: center;
  color: var(--orange);
  font-size: 1.75rem;
  font-family: arabic-bold;
}
.selection-card {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-top: 2rem;
}
.selection_card_1:hover {
  background-color: white;
  filter: drop-shadow(0px 0px 12.5px rgba(0, 0, 0, 0.16));
  border-radius: 5px;
}
.selection_card_1 {
  text-align: center;
  padding: 2rem;
  margin: 1rem;
  width: 25rem;
  /* background-color: pink; */
}
.selection_card_1 img {
  background-color: var(--orange);
  padding: 1rem;
  border-radius: 10px;
  width: 70px;
  height: 70px;
}
.selection_card_1 div {
  display: flex;
  justify-content: space-evenly;
  padding: 1rem 0;
}
.selection_card_1 div h2 {
  font-size: 1rem;
  color: var(--orange);
  font-weight: bold;
  font-family: arabic;
  margin-top: 0.5rem;
}
.selection_card_1 p {
  color: var(--text);
  font-size: 1rem;
  font-family: arabic;
  line-height: 1.75rem;
  font-weight: 400;
  font-family: arabic;
}
/* /////////////////////////////////////////////////// */
.client-wrapper {
  position: relative;
  padding: 3rem 1.5rem;
  text-align: center;
  overflow: hidden;
}
.client-wrapper h1 {
  color: var(--blue);
  font-size: 1.75rem;
  font-weight: bold;
}
.client-wrapper h2 {
  color: var(--orange);
  font-size: 1.25rem;
  padding-top: 1rem;
  font-weight: 600;
}

#client_list {
  text-align: center;
  display: flex;
  align-items: center;
  width: max-content;
  padding-top: 1rem;
}
.client_item {
  background-color: var(--white);
  border-radius: 5px;
  overflow: hidden;
  transition: 0.5s;
  margin: 10px 1.2rem;
  width: 11rem;
  height: 10rem;
  scroll-snap-align: start;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}
.client_item img {
  width: 85%;
}
#client_formList {
  width: 1300px;
  max-width: 100%;
  overflow: auto;
  margin: 10px 10px;
  scroll-behavior: smooth;
  text-align: center;
  overflow-x: hidden;
}
#formList::-webkit-scrollbar {
  display: none;
}
.client_icon {
  display: block;
}

.client_card button {
  /* margin-top: 4rem; */
  border: none;
  background-color: var(--white);
  margin: 2rem 1rem 0 1rem;
  background-color: var(--orange);
  padding: 0.6rem;
  border-radius: 30px;
  color: white;
  font-size: 0.8rem;
  cursor: pointer;
}

/* /////////////////////////////////////////////////// */
.customer-wrapper {
  position: relative;
  padding: 3rem 1.5rem;
  background-color: #f8f8ff;
  text-align: center;
  overflow: hidden;
}
.customer-wrapper h1 {
  font-size: 1.75rem;
  color: var(--orange);
  font-family: arabic-bold;
}
.customer-wrapper p {
  font-size: 1.25rem;
  color: var(--blue);
  padding: 0.75rem 0;
  font-family: arabic;
  font-weight: 400;
}
.customer-card {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 1rem;
  align-items: center;
}

.customer_card_1 {
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 1rem;
  margin: 0.5rem;
  border-radius: 5px;
  width: 17rem !important;
  height: 19.5rem;
}
.customer_card_1 .person {
  background-color: var(--text);
  color: var(--orange);
  padding: 1rem 1.4rem;
  border-radius: 50px;
  font-size: 2rem;
}
.customer_card_1 h5 {
  color: var(--text);
  font-size: 1.2rem;
  padding: 0.5rem 0;
}
.customer_card_1 p {
  color: var(--text-light);
  padding-bottom: 1rem;
  font-weight: 600;
  line-height: 1.5rem;
}
.customer_card_1 i {
  color: var(--orange);
  /* padding: 1rem 0; */
}
.card_1_i i {
  margin-top: 1.7rem;
}
.customer_card_1 h6 {
  font-size: 1rem;
  color: var(--text);
  padding-top: 0.5rem;
}

/* /////////////////////////////////////////////////// */
footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 2rem 1rem 2rem;
  background-image: url("/img/Ellipse\ 58.png");
  background-size: 150% 155%;
  background-repeat: no-repeat;
  background-position: 40% 0%;
  overflow: hidden;
}
.footer-right {
  width: 50%;
  /* background-color: wheat; */
}
.footer-right img {
  width: 20%;
}
.footer-right p {
  font-family: arabic;
  color: var(--text-light);
  font-size: 1.25rem;
  line-height: 2.4rem;
  padding: 1rem 0;
}
.footer-right h3 {
  font-family: arabic-bold;
  color: var(--text);
  font-size: 1.25rem;
  padding: 1rem 0;
}
.footer-left {
  margin-top: 1.8rem;
  width: 40%;
  /* background-color: pink; */
}
.footer_left_list {
  display: flex;
  justify-content: space-between !important;
  padding: 1rem;
}
.footer_left_list ul .first-li {
  font-family: arabic-bold;
  color: var(--text) !important;
  font-size: 1.25rem;
}

.footer_left_list ul li {
  list-style: none;
  padding: 0.2rem 0;
  color: var(--text-light);
  font-size: 1.25rem;
  font-family: arabic;
}

.footer-left div {
  display: flex;
  justify-content: space-around;
  align-items: center !important;
  padding: 0 2rem;
}
.footer_icon {
  /* margin-left: -4rem !important; */
}
.footer-left .footer-icon {
  background-color: var(--orange) !important;
  border-radius: 30px;
  padding: 1.25rem;
  width: 2rem;
  height: 2rem;
  text-align: center;
  margin: 1rem 0.5rem 0 0.5rem;
}
.footer-left .footer-icon i {
  font-size: 1.25rem;
  color: var(--white);
}

/* /////////////////////////////////////////////////// */
